body{
	margin: 0;
	padding: 0;
	font-family: cursive;
}

header{
	width: 98.5%;
	height: 125px;
	background: black;
	padding: 10px;

}

header div#nomeCabecalho{
	width: 350px;
	padding: 10px;
	margin-left: 20px; 
	border: 9px orange solid;
	border-radius: 0px 20px 20px 20px;
	float: right;
}

header div.nomeTela{
	border: 4.5px orange solid;
	width: 250px;
	padding: 10px;
	margin-left: 20px; 
	border-radius: 0px 20px 20px 20px;
	margin-right: 680px;
	margin-top: 15px; 
	text-align: center;
}

h1{
	color: blue;	
}

h2{
	color: white;	
}

section{
	width: 100%;
	background-image: url("Imagens/BibliotecaSECTION.jpg");
	height: 505px;
	padding-top: 10px;
}

section div.menu{
	margin: 32px;
	border: 2px orange solid;
	width: 200px;
	height: 450px;
	float: left;
	border-radius: 0px 20px 20px 20px;

}

img.imagemMenu{	
	width: 200px;
	height: 450px;
	border-radius: 0px 20px 20px 20px;
	position: absolute;
}

section div.menu a{
	border: 3px orange solid;
	background-color: black;
	border-radius: 0px 20px 20px 20px;
	text-decoration: none;
	color: white;
	padding: 5px;
	position: relative;
	top: -25px;
}

section div.menu a:hover {
	border: 3px black solid;
	background-color: orange;
}

footer{
	color: white;
	width: 98.5%;
	height: 80px;
	background: black;
	padding: 10px;
	text-align: center;	
}

section div.estiloGeral{
	border: 4px orange solid;
	border-radius: 0px 20px 20px 20px;	
	background-color: black;
	font-color: orange;
}

label{
	font-weight: bold;
	color: white;
	padding: 20px;
}

input{
	width: 200px;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	font-color: orange;
}

.submit{
	border: 3px orange solid;
	background-color: black;
	border-radius: 0px 20px 20px 20px;
	color: white;
	font-weight: bold;
	font-family: cursive;
	margin-left: 580px;
}

.submit:hover {
	border: 3px black solid;
	background-color: orange;
	font-family: cursive;
	
}

#cadastroLivro{
	width: 250px;
	margin-top: 7%;
	margin-left: 40%;
	margin-bottom: 10px;
	padding: 10px;
}

#cadastroUsuario{
	margin-top: 1%;
	width: 250px;
	margin-left: 40%;
	height: 375px;
}

.radioEdition{
	margin-top: 10px;	
	padding: 0;
	width: 50px;
}

.labelRadio{
	margin: 0px;
	padding: 0;
}

#emprestarLivro{
	width: 250px;
	float: left;
	margin-left: 10%;
	padding: 10px;
	margin-top: 1%;
}

table, th{
	border: 3px orange solid;
	background-color: black;
	color: white;
	border-radius: 0px 20px 20px 20px;
	padding: 5px;
}

table{
	float: right;
	margin-right: 25%;
	margin-top: 1%;
}

#submitEmprestarLivro {
	border: 3px orange solid;
	background-color: black;
	border-radius: 0px 20px 20px 20px;
	color: white;
	font-weight: bold;
	font-family: cursive;
	margin-top: 100px;
	margin-right: 35%;
	float: right;
}

#submitEmprestarLivro:hover {
	border: 3px black solid;
	background-color: orange;
	font-family: cursive;
}

#tabelaListaLivros{
	margin:25.5%;
	margin-top: 1%;	
	float: left;
	padding:10px;
}

#tabelaListaLivros th, td{
	padding: 10px;
}

#tabelaListaLivros a{
	text-decoration: underline;
	color: white;

}

#erro{
	border: 3px orange solid;
	border-radius: 0px 20px 20px 20px;
	background-color: #DD2C00;
	text-align: center;
	width: 500px;
	margin-left: 400px;
	margin-top: 130px;
	margin-bottom: 30px;
}

#retornarPesquisa{
	border: 3px orange solid;
	border-radius: 0px 20px 20px 20px;
	background-color: black;
	text-align: center;
	width: 500px;
	margin-left: 400px;		
	color: white;
}

h3 a{
	text-decoration: none;
	color: orange;
}

#pesquisaLivro{
	width: 380px;
	margin-top: 13%;
	margin-left: 470px; 
}

#voltarMenu{
	border: 3px orange solid;
	border-radius: 20px 20px 0px 20px;
	background-color: black;
	text-align: center;
	width: 200px;
	margin-left: 84%;
}

#voltarMenu a{
	color: white;
}